body{
    color: rgb(212, 179, 179);
    background-color: rgb(98, 98, 228);
}
.header{
    text-align: center;
    
}
h2{
    color: green;
}
footer{
    color: red;
    background-color: rgb(132, 132, 182);
    padding: 12px;
    text-align: center;
}